name: SmallRye Build
env:
  MAVEN_VERSION: 3.8.3
  IO_TAKARI_MAVEN_WRAPPER_VERSION: 0.7.7

on:
  push:
    branches:
      - main
      - jakarta
    paths-ignore:
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    name: build

    steps:
      - uses: actions/checkout@v4
        name: checkout

      - uses: actions/setup-java@v4
        name: set up JDKs
        with:
          distribution: temurin
          java-version: |
            11
            17
            21
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with maven
        run: |
          mvn -q -N "io.takari:maven:${{env.IO_TAKARI_MAVEN_WRAPPER_VERSION}}:wrapper" "-Dmaven=${{env.MAVEN_VERSION}}"
          ./mvnw -B -ntp formatter:validate verify --file pom.xml "-Dexpected-cpu=x64,aarch64" "-Djava11.home=${{env.JAVA_HOME_11_X64}}${{env.JAVA_HOME_11_ARM64}}" "-Djava17.home=${{env.JAVA_HOME_17_X64}}${{env.JAVA_HOME_17_ARM64}}"

  quality:
    needs: [ build ]
    if: github.event_name == 'push' && github.repository_owner == 'smallrye'
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with docs and coverage
        run: |
          mvn -q -N "io.takari:maven:${{env.IO_TAKARI_MAVEN_WRAPPER_VERSION}}:wrapper" "-Dmaven=${{env.MAVEN_VERSION}}"
          ./mvnw javadoc:javadoc verify -Pcoverage

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: sonar
        run: ./mvnw sonar:sonar -Dsonar.projectKey=smallrye_smallrye-common -Dsonar.token=${{secrets.SONAR_TOKEN}}
