name: SmallRye Build

on:
  push:
    branches:
      - main
      - jakarta
    paths-ignore:
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    name: build with JDK ${{matrix.java}} (Linux)

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: AdoptOpenJDK/install-jdk@v1
        name: set up JDK ${{matrix.java}}
        with:
          version: ${{matrix.java}}

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: build with maven
        run: |
          mvn -q -N io.takari:maven:0.7.7:wrapper -Dmaven=3.8.3
          ./mvnw -B formatter:validate verify --file pom.xml

  build-windows:
    runs-on: windows-latest
    name: build with JDK 11 (Windows)

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: AdoptOpenJDK/install-jdk@v1
        name: set up JDK 11
        with:
          version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: build with maven
        shell: bash
        run: |
          mvn -q -N io.takari:maven:0.7.7:wrapper -Dmaven=3.8.3
          ./mvnw -B formatter:validate verify --file pom.xml

  build-macos:
    runs-on: macos-latest
    name: build with JDK 11 (Mac OS)

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: AdoptOpenJDK/install-jdk@v1
        name: set up JDK 11
        with:
          version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: build with maven
        run: |
          mvn -q -N io.takari:maven:0.7.7:wrapper -Dmaven=3.8.3
          ./mvnw -B formatter:validate verify --file pom.xml

  quality:
    needs: [build-linux,build-macos,build-windows]
    if: github.event_name == 'push' && github.repository_owner == 'smallrye'
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v2
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: sonar
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        run: |
          mvn -q -N io.takari:maven:0.7.7:wrapper -Dmaven=3.8.3
          ./mvnw -B verify --file pom.xml -Pcoverage javadoc:javadoc sonar:sonar -Dsonar.projectKey=smallrye_smallrye-common -Dsonar.login=$SONAR_TOKEN
